<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="mast_height" value="1.0"/>
  <xacro:property name="mast_radius" value="0.020"/>
  <xacro:property name="mast_mass" value="${0.44 * mast_height}"/> <!-- Generic density of 20x20 extruded aluminium-->

  <xacro:property name="camera_depth" value="0.025"/>
  <xacro:property name="camera_width" value="0.09"/>
  <xacro:property name="camera_height" value="0.025"/>
  <xacro:property name="camera_mass" value="0.2"/>
  <xacro:property name="camera_angle" value="0.5"/>


  <link name="camera_mast_link">
    <visual>
      <geometry>
        <cylinder
          radius="${mast_radius}"
          length="${mast_height}"/>
      </geometry>
      <material name="aluminum"/>
    </visual>

    <collision>
      <geometry>
        <cylinder
          radius="${mast_radius}"
          length="${mast_height}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${mast_mass}"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="${1/3 * mast_mass * mast_height*mast_height}"
        iyy="${1/3 * mast_mass * mast_height*mast_height}"
        izz="0"
        ixy="0"
        ixz="0"
        iyz="0"/>
    </inertial>
  </link>

  <joint name="camera_mast_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_mast_link"/>

    <!-- Front of robot -->
    <origin
      xyz="0.18 0.0 0.60"
      rpy="0 0 0"/>
  </joint>


  <link name="camera_link">
    <visual>
      <origin rpy="1.57 0 1.57"/>
      <geometry>
        <mesh filename="file://$(find robot_description)/meshes/d435.dae"
              scale="1 1 1"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.15 0.15 0.15 1"/>
      </material>
    </visual>
  
    <collision>
      <geometry>
        <box size="${camera_depth} ${camera_width} ${camera_height}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.2"/>
      <origin xyz="0 0 -${mast_height/2}"/>
      <inertia
        ixx="${1/12 * camera_mass * (camera_height*camera_height + camera_width*camera_width)}"
        iyy="${1/12 * camera_mass * (camera_height*camera_height + camera_depth*camera_depth)}"
        izz="${1/12 * camera_mass * (camera_depth*camera_depth + camera_width*camera_width)}"
        ixy="0"
        ixz="0"
        iyz="0"/>
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="camera_mast_link"/>
    <child link="camera_link"/>

    <origin
      xyz="0.04 0 ${mast_height/2 - 0.02}"
      rpy="0 ${camera_angle} 0"/>
  </joint>

  <link name="camera_optical_link"/>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>

    <!-- REP-103 optical frame -->
    <origin
      xyz="0 0 0"
      rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

</robot>